* {
    box-sizing: border-box;
}

#camera-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 1em;
    text-align: center;
}

img {
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 1025px) {
    #camera-container{
        display: block;
    }
    img{
        height: max-content;
    }
}