* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

#camera-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1e4565;
    color: #fff;
    font-size: large;
    padding: 1rem;
    gap: 1em;
}

.card {
    background-color: rgb(70, 130, 180);
    border-radius: 1em;
    padding-top: .5rem;
    text-align: center;
}

img {
    padding: .5rem;
    width: 100%;
    height: 25rem;
}

.featured {
    grid-column: span 3;
    grid-row: span 2;
    z-index: 10;
}

.featured img {
    height: 85dvh;
}

@media screen and (max-width: 1025px) {
    #camera-container {
        display: block;
    }

    img {
        height: max-content;
    }

    .featured {
        grid-column: auto;
        grid-row: auto;
    }
}